head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Forgot Password
    link(rel="stylesheet" href="stylesheets/forgotPasswordMail.css")

body
    div.container
        h1 Forgot Your Password?
        p We received a request to reset your password. If you didn't make this request, you can ignore this email.
        p To reset your password, click the following link:
        p
            a(href=link class="cta-button") Reset Password
        p(class="note") Note: This link is valid for a limited time.